body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: minmax(200px, auto) 1fr; /* Adjust as needed */
    gap: 30px;
    padding-inline: 320px;
    padding-top: 30px;
    grid-template-areas: "filter delivery-filters"
                         "filter grid-container"; /* Define the layout */

}

.filter {
    grid-area: filter; /* Place the filter in its defined area */
    position: relative;
    margin-right: 24px;
    /* margin-left: -60vw; */
    color: #484848;
    min-width: 200px;
    overflow: auto;
    overflow-x: hidden;
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    box-sizing: border-box;
    max-height: calc(100vh - 40px);
    scrollbar-width: none;
    scrollbar-color: #ddd transparent;
    padding: 16px 16px 18px;
}

.category-header{
    align-items: center;
    color: #484848;
    font-size: 12px;
    line-height: 24px;
    font-weight: 700;
}

.all-categories-header{
    align-items: center;
    color: #484848;
    font-size: 12px;
    font-weight: 700;
    margin-top: 20px;
}

.categories{
    list-style: none;
    align-items: center;
    color: #484848;
    font-size: 12px;
    font-weight: 100;
    cursor: pointer;
}

.delivery-filters {
    display: grid;
    grid-template-areas: 
        "header header location separator tomorrow"
        "info info location separator tomorrow";
    grid-template-columns: auto auto 1fr auto; /* Adjust column widths */
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    padding: 20px;
    height: 55px;
}

.delivery-filter-header {
    grid-area: header;
    width: 600px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -.32p;
    color: #484848;
    font-weight: 700;
}

.delivery-filter-info {
    grid-area: info;
    width: 600px;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: .4px;
    color: #9b9b9b;
    font-weight: 400;
    margin-top: 4px;
}

.seperator {
    grid-area: separator;
    width: 1px; /* Width of the vertical line */
    height: auto;
    background-color: #ccc; /* Color of the vertical line */
    margin-right: 20px;
}

.current-location {
    grid-area: location;
    justify-self: flex-end;
    margin-left: auto; /* Push to the far right */
    min-width: 20px;
    max-width: 120px;
    margin-right: 20px;
}

.current-location-icon{
    margin-top: -20px;
}

.current-location-info{
    font-size: 12px;
    line-height: 16px;
    margin-left: 30px;
    margin-top: 3px;
    letter-spacing: .4px;
    color: #ff6000;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
}

.tomorrow-delivery {
    grid-area: tomorrow;
}

.delivery-filter-header,
.delivery-filter-info,
.current-location,
.seperator,
.tomorrow-delivery {
    margin-bottom: 10px; /* Adjust margin between items */
}

.current-location,
.tomorrow-delivery {
    display: flex;
    align-items: center;
}

.current-location {
    padding: 12px;
    background-color: #ffefe5;
    border-radius: 8px;
    display: flex;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: .4px;
    color: #ff6000;
    align-items: center;
    cursor: pointer;
}

.tomorrow-delivery{
    background-color: #f5f5f5;
    border-radius: 8px;
    align-items: center;
    position: relative;
    padding: 8px;
}

.tomorrow-delivery input[type="checkbox"] {
    position: relative;
    width: 2em;
    height: 2em;
    color: black;
    border: 1px solid gray;
    border-radius: 8px;
    appearance: none;
    outline: 0;
    cursor: pointer;
    transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
  }
  
  .tomorrow-delivery input[type="checkbox"]::before {
    position: absolute;
    content: '';
    display: block;
    top: 2px;
    left: 7px;
    width: 8px;
    height: 14px;
    border-style: solid;
    border-color: white;
    border-width: 0 2px 2px 0;
    transform: rotate(40deg);
    opacity: 0;
  }
  
  .tomorrow-delivery input[type="checkbox"]:checked {
    color: white;
    border-color: #ff6000;
    background: #ff6000;
  }
  
  .tomorrow-delivery input[type="checkbox"]:checked::before {
    opacity: 1;
  }

  .tomorrow-delivery-span{
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: .4px;
    color: #666;
    margin-left: 8px;
  }

.grid-container {
    grid-area: grid-container;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-right: -8vw;
    gap: 30px;
}

.grid-item {
    border: 1px solid rgb(229, 229, 229);
    border-radius: 12px;
    cursor: pointer;
    text-decoration: none;
    width: 235px;
}

.grid-item img {
    /* border: 1px solid rgb(229, 229, 229); */
    background-repeat: no-repeat;
    display: block; /* Display the image as a block-level element */
    margin: 0 auto; /* Horizontally center the image */
}

.info-container{
    background-color: white;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    box-sizing: border-box;
    height: 168px;
    padding: 8px;
    position: relative;
}
.item-brand{
    display: inline;
    color: #484848;
    font-size: 12px;
    font-weight: 600;
    overflow: hidden;
}

.item-product-name{
    display: inline;
    color: rgb(123, 123, 123);;
    font-size: 12px;
    font-weight: 600;
    overflow: hidden;
    margin-left: 4px;
}

.rating-container{
    display: flex;
    flex-direction: row;
    /* margin-top: -12px; */
}

.item-rating{
    margin-top: 4px;
    /* fill: rgb(246, 159, 41); */
}

/* .item-rating .star {
    font-size: 20px;
    color: rgb(246, 159, 41);
} */

/* Full Star */
.fas.fa-star {
    color: rgb(246, 159, 41); /* Color for full stars */
    font-size: 12px;
    border: none; /* Remove border */
    outline: none; /* Remove outline */
}

/* Half Star */
.fas.fa-star-half-alt {
    color: rgb(246, 159, 41); /* Color for half stars */
    font-size: 12px;
    border: none; /* Remove border */
    outline: none; /* Remove outline */
}

/* Empty Star */
.far.fa-star {
    color: #ccc; /* Color for empty stars */
    font-size: 12px;
    border: none; /* Remove border */
    outline: none; /* Remove outline */
}

/* Rating container styles */
.rating-container {
    display: inline-block;
    font-size: 20px; /* Adjust as needed */
    line-height: 1;
    margin-top: 5px;
}

.item-count-of-ratings{
    align-items: center;
    color: rgb(145, 145, 145);
    display: inline;
    font-family: Inter, -apple-system, BlinkMacSystemFont, Arial, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 11px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    margin-left: 4px;
}

.item-price{
    margin-top: 10px;
    color: rgb(72, 72, 72);
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
}